<div class="field">
  <%= f.label(:name, "name:")%><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="f">
  <%= f.label(:surname, "surname: ")%><br />
  <%= f.text_field :surname, autofocus: true %>
</div>

<div class="field">
  <%= f.label(:phone, "phone:")%><br />
  <%= f.text_field :phone, autofocus: true %>
</div>

<div class="field">
  <%= f.label(:user_id, "UserID:")%><br />
  <%= f.label(:user_id, $user_id) %>
</div>
