<header id="index-header">
    <div class="container-fluid">
        <div class="row">
            <a href="/"><%= image_tag("logo-black.png", alt: "Logo PetaTime") %></a>
            <!-- <img src="/images/logo-black.png" alt="LOGO" class="pull-left"> -->
            <ul class="pull-right">
                <li class="pull-left"><a href="/works_time">Leader Board</li>
                <li class="pull-left">
                  <% if user_signed_in? %>
                    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                  <% else %>
                    <%= link_to('Log In', new_user_session_path)  %>
                  <% end %>
                </li>
                <li class="pull-left"><i id="open-sidebar" class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<!-- <section class="edit-delete">
</section> -->

<section id="leader_board">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Tasks</h2>
      <div class="col-xs-12 pull-center">
          <%= render(:partial => "new")%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped table-hover" id="example">
          <tr>
            <th>ID</th>
            <th>Task name</th>
            <th>Project name</th>
            <th>Is done</th>
            <th class="pull-right">Action</th>
          </tr>
          <% @tasks.each do |task|%>
            <tr>
              <th><%= task.id %></th>
              <th><%= task.title %></th>
              <th><%= task.project.title %></th>
              <th><%= task.is_done %></th>
              <th class="pull-right">
                <%= link_to("Edit", {:action => 'edit', :id => task.id}, :class=>"btn btn-raised btn-warning")%>
                <%= link_to("Delete", {:action => 'destroy', :id => task.id }, :class=>"btn btn-raised btn-danger")%>
              </th>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>


  <footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center footer-content">
                <%= image_tag("logo-white.png", alt: "Logo PetaTime") %>
                <p>© Copyright 2016 PetaTime - All Rights Reserved. Powered by Ruby on Rails.</p>
                <p>Made by Kuba & Piotrek</p>
            </div>
        </div>
    </div>
</footer>
