<header id="index-header">
    <div class="container-fluid">
        <div class="row">
            <a href="/"><%= image_tag("logo-black.png", alt: "Logo PetaTime") %></a>
            <!-- <img src="/images/logo-black.png" alt="LOGO" class="pull-left"> -->
            <ul class="pull-right">
                <li class="pull-left"><a href="/works_time">Leader Board</li>
                <li class="pull-left">
                  <% if user_signed_in? %>
                      <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                    <% else %>
                      <%= link_to('Log In', new_user_session_path)  %>
                    <% end %>
                </li>
                <li class="pull-left"><i id="open-sidebar" class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<!-- <section class="edit-delete">
</section> -->

<section id="leader_board">
  <div class="container">
    <div class="row">

      <div class="col-xs-12" style="text-align: center;">
        <h2 class="text-center">Leader Board</h2>

        <%= link_to({:action => 'index'}, :class=>"btn btn-default margin-bottom-25") do%>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
        <% end %>
        <%= form_for(:work_time, :url => {:action => "update", :id => @work_time.id}) do |field|%>
          <div class="single_task">
            <p><%= field.label(:start_at, "Start: ")%></p>
            <%= field.datetime_select :start_at, :ampm => true, :minute_step => 15, date_separator: '', time_separator: '', datetime_separator: '' %>
          </div>
          <div class="clearfix"></div>
          <div class="single_task">
            <p><%= field.label(:end_at, "Stop: ")%></p>
            <%= field.datetime_select :end_at, :ampm => true, :minute_step => 15, date_separator: '', time_separator: '', datetime_separator: '' %>
          </div>
          <div class="">
            <%= field.label(:task_id, "Task:") %>
            <%= field.select(:task_id, @tasks.map{|t| [t.title, t.id]}, :class => 'form-control' )%>
          </div>
          <div class="clearfix"></div>
          <div class="single_task_accept pull-right">
            <%= submit_tag("Save", class:"btn btn-raised btn-success") %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>


  <footer style="bottom: 0; left: 0; right: 0; position: fixed;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center footer-content">
                <%= image_tag("logo-white.png", alt: "Logo PetaTime") %>
                <p>© Copyright 2016 PetaTime - All Rights Reserved. Powered by Ruby on Rails.</p>
                <p>Made by Kuba & Piotrek</p>
            </div>
        </div>
    </div>
</footer>
