<header id="index-header">
    <div class="container-fluid">
        <div class="row">
            <a href="/"><%= image_tag("logo-black.png", alt: "Logo PetaTime") %></a>
            <!-- <img src="/images/logo-black.png" alt="LOGO" class="pull-left"> -->
            <ul class="pull-right">
                <li class="pull-left"><a href="/works_time">Leader Board</li>
                <li class="pull-left">
                  <% if user_signed_in? %>
                      <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
                    <% else %>
                      <%= link_to('Log In', new_user_session_path)  %>
                    <% end %>
                </li>
                <li class="pull-left"><i id="open-sidebar" class="fa fa-bars" aria-hidden="true"></i></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</header>

<!-- <section class="edit-delete">
</section> -->

<section id="leader_board">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Leader Board</h2>
      <div class="col-xs-12 col-md-2 start-stop-button">
        <button class="btn btn-primary btn-raised btn-lg">Start</button>
        <button class="btn btn-info btn-raised btn-lg">Break</button>
        <button class="btn btn-danger btn-raised btn-lg">Stop</button>
      </div>
      <div class="col-xs-12 col-md-10 pull-right">
          <%= render(:partial => "new")%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-striped table-hover" >
          <tr>
            <th>ID</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Task</th>
            <th class="pull-right">Action</th>
          </tr>
          <% @works_time.each do |time|%>
            <tr>
              <th><%= time.id %></th>
              <th><%= time.start_at.strftime("%m/%d/%y %H:%M") %></th>
              <th><%= time.end_at.strftime("%m/%d/%y %H:%M") %></th>
              <% @tasks.each do |task| %>
                  <% if task.id == time.task_id %>
                    <th><%= task.title %></th>
                  <% end %>
              <% end %>
              <th class="pull-right">
                <%= link_to("Edit", {:action => 'edit', :id => time.id}, :class=>"btn btn-raised btn-warning")%>
                <%= link_to("Delete", {:action => 'destroy', :id => time.id }, :class=>"btn btn-raised btn-danger")%>
              </th>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>


  <footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center footer-content">
                <%= image_tag("logo-white.png", alt: "Logo PetaTime") %>
                <p>© Copyright 2016 PetaTime - All Rights Reserved. Powered by Ruby on Rails.</p>
                <p>Made by Kuba & Piotrek</p>
            </div>
        </div>
    </div>
</footer>
